
/* Navbar styles */
.nav-bar{
    width: 100%;
    border-bottom: 1px solid rgba(248, 248, 248, 0.377);
}

.nav-bar-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--h-navbar);
}

.logo{
    width: auto;
    height: 35px;
}

.nav-list{
    display: flex;
    align-items: center;
    gap: 60px;
    font-family: var(--f-regular-2);
    font-weight: 500;
    font-size: 16px;
    color: var(--c-white);
}

.nav-item{ position: relative; }

.sub-nav-item:hover{ color: var(--c-cold-blue); }

.sub-nav-list{
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 25px 20px;
    width: 220px;
    font-size: 14px;
    letter-spacing: 1px;
    background: var(--c-grey);
    position: absolute;
    top: 35px;
    visibility: hidden;
    transition: .5s;
    opacity: 0;
    
}

.nav-item:hover 
.sub-nav-list{
    visibility: visible;
    opacity: 1;
}


/* search bar  */
.search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 50px;
    width: 100%;
    height: 100px;
    background-color: var(--c-white);
    position: absolute;
    left: 0;
    top: -100px;
    transition: .5s;
}

.search-bar.open{ top: 0; }

#input-box{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    color: inherit;
}

.search-bar .search-btn{
    width: 50px;
    padding: 7px;
    background-color: var(--c-cold-blue);
    border: 1px solid hsl(177, 55%, 55%);
}

.close-search{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.mobile-nav-menu{ display: none; }

.close-nav-btn {display: none;}

.hero-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: url('../assets/images/hero-image-2.jpg');
    background-size: cover;
    background-position: center;
}

.banner-title{ margin: auto 0; }



/* article 1 section  */
.article-1-container {
    background: radial-gradient(ellipse at right, 
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1), 
        rgba(255, 255, 255, 2)), 
        url('../assets/images/bg-img-1.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.article-1 {
    display: flex;
    gap: 40px;
    padding: 100px 40px;
}

.article-1-img-area {
    flex: 1;
    position: relative;
}

.article-1-img-1,
.article-1-img-2 {
    height: 400px;
    width: 350px;
    object-fit: cover;
    
}

.article-1-img-1 {
    position: absolute;
    top: 10%;
    left: 40%;
}

.article-1-text-area { flex: 1; }

.article-1-text-area:first-child {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
}

.signature {
    width: 150px;
    height: auto;
}



/* article 2 section*/
.article-2-container {
    position: relative;
    background: radial-gradient(circle at left, 
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 1), 
        rgba(255, 255, 255, 2)), 
        url('../assets/images/bg-img-2.webp');
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 700px;
}

.article-2-text-area {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: var(--c-cold-blue);
    position: absolute;
    top: 10%;
    right: -30%;
}

.article-2-text {
    max-width: 600px;
    padding-left: 100px;
    font-size: 25px;
    font-family: var(--f-regular-2);
    margin-left: 150px;
    border-left: 3px solid black;
    position: relative;
}

.article-2-subtext {
    font-size: 15px;
    font-family: var(--f-regular-1);
    font-style: italic;
}

.quote {
    position: absolute;
    top: 0;
    left: 50px;
}

.video-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    background: url('../assets/images/bg-img-3.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 50px;
    left: 22%;
    opacity: 0.9;
    z-index: 1;
}

.bx-play{
    padding: 10px;
    color: rgb(100, 100, 100);
    border: 2px solid rgb(100, 100, 100);
    border-radius: 50%;
}



/* features section  */
.features-section{
    padding: 50px 0;
    position: relative;
}

.features-container{
    display: flex;
    gap: 30px;
    padding: 50px 30px;
}

.features{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}



/* places section  */
.places-section{
    position: relative;
    background: radial-gradient(ellipse at 140% 70%, 
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 0), 
        rgba(255, 255, 255, 1), 
        rgba(255, 255, 255, 2)), 
        url('../assets/images/bg-img-3.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.decorative-card{
    width: 100%;
    height: 70%;
    background-color: var(--c-cold-blue);
    position: absolute;
    top: 15%;
    left: -37%;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    max-width: 1170px;
    padding: 30px;
    margin: 0 auto;
}

.img-wrapper {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.img-wrapper .grid-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}

.img-wrapper:hover .grid-img { 
    transform: scale(1.05);
}

.img-wrapper::after {
    content: '';
    height: 50%;
    background: linear-gradient(to top, 
        rgba(0,0,0,0.5) 0%, 
        rgba(0,0,0,0) 100%);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.overlay {
    display: flex;
    align-items: flex-end;
    height: 50%;
    padding: 20px;
    background: linear-gradient(to top, 
        rgba(0,0,0,0.7) 0%, 
        rgba(0,0,0,0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.text {
    margin: 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.img-wrapper:hover::after,
.img-wrapper:hover .overlay,
.img-wrapper:hover .text  {
    opacity: 1;
    transform: translateY(0);
}

.item-2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
}



/* other features section  */
.other-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    padding: 100px 0;
    background: linear-gradient( 2deg,  
        rgba(255, 255, 255, 0) 0%, 
        rgba(255, 255, 255, 0) 30%, 
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 80%), 
        url('../assets/images/bg-img-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.other-features-wrapper{
    display: flex;
    justify-content: space-between;
    padding :0  50px;
}

.other-features-article{
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    padding-right: 30px;
}

.other-features-list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    max-height: 250px;
    margin-top: 75px;
}


.of-quote-wrapper {
    display: flex;
    align-items: center;
    width: 60%;
    height: 400px;
    background-color: var(--c-white);
}

.of-text {
    max-width: 600px;
    padding-left: 100px;
    font-size: 25px;
    font-family: var(--f-regular-2);
    margin: auto;
    border-left: 3px solid black;
    position: relative;
}

.of-subtext {
    font-size: 15px;
    font-family: var(--f-regular-1);
    font-style: italic;
}

.of-quote{
    position: absolute;
    top: 0;
    left: 50px;
}



/* blog section  */
.blog-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.blog-container{
    display: flex;
    gap: 30px;
    margin-top: 50px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    flex: 1;
    transition: .5s;
}

.blog-card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.blog-img{
    width: 100%;
    height: auto;
}



/* footer setction  */
.footer-section{
    margin-top: 10%;
    background-color: var(--c-grey)
}

.footer-wrapper{
    display: flex;
    gap: 30px;
    padding: 30px;
}

.footer-img-area{
    flex: 1;
}

.footer-img-area .footer-img{
    width: 100%;
    position: relative;
    top: -20%;
}

.footer-text-area{
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 1;
    padding-top: 50px;
}

.input-container{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px 0 5px;
    border-bottom: 1px solid grey;
}

.input-container .newsletter-input{
    flex: 1;
    padding: 14px 0;
    background: transparent;
    font-family: inherit;
    color: inherit;
    border: none;
    outline: none;
}

.secondary-footer-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.secondary-footer{
    background-color: var(--c-grey-300)
}

.socials-list{
    display: flex;
    margin-left: auto;
    gap: 10px;
}

.socials-icon{
    padding: 5px;
    background-color: var(--c-grey);
    border-radius: 50%;
}

.socials-icon:hover{
    color: var(--c-white)
}
